{{ partial "header.html" . }}

<body>
    <div id="layout" class="pure-g">
	<article class="pure-u-1 terms-page">
	    {{ partial "brand.html" . }}
	    {{ partial "content.header.html" . }}
	    {{ $data := .Data }}
	    <section>
		<div class="like-p">
		{{ range $key, $value := .Data.Terms.Alphabetical}}
		<a href="#{{ $value.Name }}">{{ $value.Name }}</a>&nbsp;
		{{ end }}
		</div>
	    </section>
		{{ range $key, $value := .Data.Terms.Alphabetical}}
	    <section class="">
		<h2 id="{{ $value.Name }}">{{ $value.Name }}</h2>
		<ul>
		    {{ range .WeightedPages }}
		    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
		    {{ end }}
		</ul>
	    </section>
	    {{ end }}
	    {{ partial "footer.html" . }}
	</article>
    </div>
</body>
</html>
