<section>
  
  <h1 class="content-title">
    {{ if .IsNode }}
    <a href="{{ .Permalink }}">{{ .Title}}</a>
    {{ else }}
    <a href="{{ .RelPermalink }}">{{ if .Draft }}🚧👷🏗 {{end}} {{ .Title }} {{ if .Draft }}🚧👷🏗 {{end}}</a>
    {{ end }}
  </h1>
  {{ if .IsPage }}
    {{ if .Params.subtitle }}
      <p class=subtitle>{{ .Params.subtitle }}</p>
    {{ end }}
    {{ if or (eq .Type "blog") (.Params.meta)  }}
      <span class="content-meta">
        {{ if .Params.author }}
          <span class="author">
              {{ .Params.author }}
	  </span>
          {{ end }}

          {{ if not .Params.hidedate }}
          {{ .Date.Format "2006-01-02" }}
          {{end }}

          {{ if not .Params.hidereadtime }}
          &nbsp;~ {{ .ReadingTime }} min read
          {{ end }}

          {{ if .Params.tags }}
	  &nbsp;tags:
          {{ range .Params.tags }}
          &nbsp;<a  href="{{ "/tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        {{ end }}
      </span>
    {{ end }}
  {{ end }}
  </section>
